body {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
}

.content {
	width: 100%;
	height: 100vh;
}

.header {
	width: 100%;
	height: 120px;
	position: fixed;
	z-index: 9999;
}

.navigation-menu-area {
	width: 100%;
	height: 120px;

	background-color: rgba(94, 93, 88, 0.6);
}

.wrapper{
	width: 1160px;
	margin: auto;
}

.header-menu-and-logo-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*Logo start*/
.logo-img {
	background-image: url('../img/logo/Polygon-svg.svg');
	background-repeat: no-repeat;
	display: flex;

	height: 70px;
}

.h-letter {
	font-weight: 700;
	font-size: 40px;
	line-height: 31px;

	color: #FFFFFF;

	padding: 17px 0 0 13px;
}

.the-text {
	font-weight: 400;
	font-size: 32px;
	line-height: 48px;

	color: #FFFFFF;

	margin: 10px 0 0 20px;
}

.ham-text {
	font-weight: 700;
	font-size: 32px;
	line-height: 48px;

	color: #18CFAB;

	margin-top: 10px;
}
/*End of logo*/

/*Menu navigation - header*/
.header-nav-menu {
	width: 657px;

	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	font-size: 16px;
	font-weight: 700;
	line-height: 25px;
}

.nav-menu-item {
	color: rgba(255, 255, 255, 0.6);
}

.search-menu-logo {
	color: rgba(255, 255, 255, 0.6);
	height: 68px;
}

.item-underline {
	margin-top: 50px;
	height: 70px;
}

.item-underline:hover {
	border-bottom: 1px solid #18CFAB;
}

.nav-menu-item:hover {
	color: #18CFAB;
}
/*End of navigation menu - header*/

/************ Intro section **********/
.introduction {
	background-image: url('../img/sections-background/section-1(header).jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	position: relative;
}

.wrapper-intro {
	height: 1012px;
}

.intro-content {
	text-align: center;
	padding-top: 384px;
}

.h1-title-content {
	font-weight: 700;
	font-size: 78px;
	line-height: 1px;

	margin-top: 80px;
	color: #FFFFFF;

	text-transform: uppercase;
}

.h2-title-content {
	font-weight: 700;
	font-size: 35px;
	line-height: 1px;

	color: #FFFFFF;

	text-transform: uppercase;
}

.h2-title-content-narrow {
	font-weight: 400;
	font-size: 34px;
	line-height: 1px;

	margin-top: 80px;
	color: #D4D4D4;
}

.span-title-content {
	color: #18CFAB;
}

.shadow-line {
	width: 168px;
	height: 20px;
	border-radius: 5px;
	background-color: #FFFFFF;
	transform: translateY(15px);
}

.shadow-line-margin {
	margin-top: 140px;
}

.intro-btn-flex {
	display: flex;
	justify-content: center;
	gap: 26px;
}

.intro-btn {
	width: 168px;
	height: 65px;
	background-color: #00CBF6;
	color: #FFFFFF;
	padding-top: 16px;
	border-radius: 4px;
	font-weight: 700;
	font-size: 15px;
	line-height: 32px;
	position: relative;
}

.explore-btn {
	background-color: #18CFAB;
}
/*End of intro section*/

/************ Our services section **********/
.our-services {
	width: 100%;
	height: 926px;
}

.our-services-cards {
	width: 100%;
	height: 377px;

	display: flex;
	justify-content: space-between;
	text-align: center;
}

.our-services-cards-content {
	display: flex;
	flex-direction: column;
	gap: 48px;
	align-items: center;

	width: 25%;
	height: 100%;
	flex-shrink: 2;

	padding-top: 83px;
	border-top: 8px solid #FFFFFF;
	border-bottom: 8px solid #FFFFFF;
}

.our-services-title {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;

	text-transform: uppercase;
}

.dark-background {
	background-color: #1C2A33;
	color: #18CFAB;
}

.light-background {
	background-color: #18CFAB;
	color: #FFFFFF;
}

.light-background-gap {
	gap: 68px;
}

.section-title {
	font-weight: 400;
	font-size: 36px;
	line-height: 40px;

	width: 100%;
	color: #4E4E4E;

	text-align: center;
	position: relative;
}

.first-title-margin {
	margin-top: 83px;
	padding-bottom: 34px;
}

.section-title::before {
	content: "";
	display: block;

	border-bottom: 1px solid #18CFAB;
	width: 78px;

	margin-top: 70px;
	margin-left: 530.5px;
	position: absolute;
}

.section-title::after {
	content: "";
	display: block;

	border-bottom: 1px solid #18CFAB;
	width: 78px;

	margin-top: 34px;
	margin-left: 540.5px;
	position: absolute;
}

.our-services-list {
	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 16px;
	font-weight: 400;
	line-height: 39px;
	margin-bottom: 23px;
}

.our-services-item {
	width: 194px;
	border: 1px solid #EDEFEF;
	text-align: center;
	padding: 16px 0;
	margin-top: 69px;

	cursor: url("../img/cursor.svg"), auto;
}

.our-services-tab {
	display: flex;
	gap: 15px;
}

.service-tab-text {
	text-align: justify;

	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
}

.our-services-item:hover {
	border: 1px solid #18CFAB;
}

.our-services-item.active {
	position: relative;

	color: #FFFFFF;
	background: #18CFAB;
}

.our-services-item.active::after {
	content: '';
	position: absolute;
	bottom: -14px;

	right: calc(50% - 15px);
	border-top: 15px solid #18CFAB;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
}

.services-tab-img {
	width: 192px;
	height: 139px;
}

.our-services-tab {
	display: none;
}

.our-services-tab.active {
	display: flex;
}
/************ End of Our services section **********/

/************ Purchase btn section **********/
.purchase {
	width: 100%;
	height: 476px;

	background: url('../img/sections-background/section-2.png') no-repeat center / cover fixed;
	text-align: center;
}

.purchase-h2-title {
	padding-top: 127px;
	text-transform: uppercase;

	font-weight: 700;
	font-size: 40px;
	line-height: 40px;
	color: #18CFAB;
}

.purchase-h3-title {
	margin-top: 13px;
	font-weight: 400;
	font-size: 16px;
	line-height: 40px;
	color: #D8D8D8;
}

.shadow-line-margin-purchase {
	margin-top: 45px;
}
/************END of purchase btn section **********/

/************ Our Amazing work section **********/
.second-title-margin {
	padding-top: 95px;
	padding-bottom: 70px;

	background: #E9EDEF;
	text-align: center;
}

.our-works-tabs {
	display: flex;
	justify-content: center;
	align-items: center;

	color: #717171;
	font-size: 14px;
	line-height: 42px;

	margin-top: 69px;
	margin-bottom: 71px;
}

.our-works-item {
	border: 1px solid #DADADA;
	padding: 14px;
}

.our-works-item:nth-child(1) {
	padding: 14px 27px;
}

.our-works-item:hover {
	color: #18CFAB;
	border: 1px solid #18CFAB;
}

.our-amazing-works-content {
	display: flex;
	justify-content: stretch;
	flex-wrap: wrap;
}

.back-deck-circle {
	height: 40px;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background: #18CFAB;
}

.square-circle {
	width: 12px;
	height: 12px;
	background-color: #FFFFFF;
}

.company-name {
	font-weight: 700;
	font-size: 14px;
	color: #18CFAB;
	margin-bottom: 8px;
	text-transform: uppercase;
}

.category-name {
	font-size: 12px;
	font-weight: 300;
	color: #8A8A8A;
	margin-bottom: 50px;
}

.back-deck {
	display: flex;
	gap: 3px;
	justify-content: center;

	margin-bottom: 24px;
	padding-top: 42px;

	box-sizing: border-box;
	border-top: solid 2px #18CFAB;
}

.front-deck {
	position: absolute;
	height: 211px;
	width: 280px;
	object-fit: fill;
}

.front-deck-img {
	width: 280px;
	height: 211px;
}

.front-deck:hover {
	opacity: 0;
	transition: 0.5s;
}

.work-card {
	height: 211px;
	width: 280px;

	transition: 0.5s;
	transform: scale(1.0);
}

.work-card:hover {
	height: 211px;
	width: 280px;

	position: relative;
	z-index: 1;

	object-fit: fill;
	opacity: 1;
	transform: scale(1.4);
	transition: 0.5s;

	-webkit-box-shadow: 25px 25px 26px 0 rgba(1, 2, 2, 0.55);
	box-shadow: 25px 25px 26px 0 rgba(1, 2, 2, 0.55);
}

.back-deck-card {
	height: 211px;
	width: 280px;

	background-color: #E9EDEF;
	position: relative;

	object-fit: fill;
	opacity: 0;
	transition: 0.5s;

	cursor: url("../img/cursor.svg"), auto;
}

.back-deck-card:hover {
	opacity: 1;
	transition: 0.5s;
}

.plus {
	padding-right: 12px;
}

.load-more-text {
	font-size: 14px;
}

.our-works-btn {
	margin-top: 20px;
}

.dynamic-loader {
	margin: 20px auto auto;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,159,255,1) 80%, rgba(0,212,255,1) 100%);
	border: 10px solid rgba(11, 135, 212, 0.34);

	animation: spin 1s linear infinite;
	opacity: 0;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.invisible, .hide-card {
 display: none;
}

/*******Breaking News section********/
.breaking-news {
	background-color: #FFFFFF;
}

.third-title-margin {
	padding-top: 82px;
}

.news-section-title {
	padding-bottom: 100px;
}
.section-cards-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 35px;
}

.breaking-news-item {
	width: 263px;
	height: 280px;
	margin-bottom: 10px;
}

.news-text-bg {
	box-sizing: border-box;
	background-color: #F8FCFE;
	border: 1px solid #F2F4F5;

	width: 263px;
	height: 72px;

	position: relative;
	bottom: 72px;
}

.blog-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 39px;

	color: #717171;

	padding-left: 15px;
	padding-top: 5px;

	transition: 1s;
}

.comments-block {
	display: flex;
	color: #777777;
	padding-left: 20px;
	padding-top: 5px;

	font-weight: 300;
	font-size: 14px;
}

.user {
	color: #777777;
	padding-right: 15px;
	border-right: 1px solid #777777;
}

.comment {
	color: #777777;
	padding-left: 17px;
}

.calendar {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 70px;
	height: 70px;
	background-color: #203E38;

	position: relative;
	bottom: 210px;
	left: 193px;

	transition: 1s;
}

.calendar-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	padding-top: 15px;
}

.breaking-news-item:hover .calendar {
	background: #18CFAB;
	transition: 1s;
}

.breaking-news-item:hover .blog-title {
	color: #18CFAB;
	transition: 1s;
}

/********What people say section************/
.section-what-people-say {
	background: url('../img/sections-background/section-3.jpg') no-repeat center / cover fixed;
}

.people-say-title-margin {
	padding-top: 98px;
	padding-bottom: 99px;

	font-weight: 400;
	font-size: 36px;
	line-height: 40px;
	color: #FFFFFF;

	text-align: center;
}

.quotes {
	position: relative;
	left: 48%;
	right: 52%;
	margin-bottom: 36px;
}

.user-scale-photo {
	height: 135.8px;
	margin-bottom: 35px;
	border-radius: 50%;
	border: 12px solid rgba(31, 218, 181, 0.2);

	animation: heartbeat 1.5s ease-in-out infinite both;
}
@keyframes heartbeat {
	from {
		transform: scale(1);
		transform-origin: center center;
		animation-timing-function: ease-out;
	}
	10% {
		transform: scale(0.91);
		animation-timing-function: ease-in;
	}
	17% {
		transform: scale(0.98);
		animation-timing-function: ease-out;
	}
	33% {
		transform: scale(0.87);
		animation-timing-function: ease-in;
	}
	45% {
		transform: scale(1);
		animation-timing-function: ease-out;
	}
}

.user-photo {
	height: 94.2px;
	border-radius: 50%;
	border: 10px solid rgba(31, 218, 181, 0.2);
	user-select: none;
}

.description {
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;

	color: #BBBBBB;

	text-align: center;
}

.user-name {
	font-weight: 700;
	font-size: 16px;
	line-height: 27px;

	text-align: center;
	padding-top: 37px;
	padding-bottom: 10px;

	color: #18CFAB;
}

.user-profession {
	font-weight: 300;
	font-size: 16px;
	line-height: 27px;

	text-align: center;
	padding-bottom: 38px;

	color: #BBBBBB;
}

.slider-people-description {
	display: none;
}

.description-active {
	display: block;
	text-align: center;
}

.slider-style {
	text-align: center;
	margin-bottom: 16px;
}

.people-description-slider {
	display: flex;
	gap: 27px;
	justify-content: center;
	align-items: center;

	padding-bottom: 99px;
}

.previous-btn, .next-btn {
	padding: 8px 10px;
	background: rgba(0, 0, 0, 0.0001);
	border: 1px solid #BBBBBB;
}

.previous-btn:hover, .next-btn:hover {
	background: #18CFAB;
}

.selected {
	margin-bottom: 20px;

	animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes scale-in-center {
	0% {
		transform: scale(0);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

/*************Best gallery section*************/
.gallery-title-margin {
	font-weight: 400;
	font-size: 36px;
	line-height: 40px;

	padding-top: 108px;
	padding-bottom: 115px;
	color: #4E4E4E;
}

.grid {
	max-width: 100%;
}

.masonry-gallery-medium {
	display: flex;
	gap: 13px;
}

.masonry-gallery {
	display: flex;
	flex-wrap: wrap;
	gap: 7px;
}

.grid-item {
	margin-bottom: 20px;
}

.picture-in-picture-medium {
	background-color: #000;
	overflow: hidden;

}

.picture-in-picture-small {
	background-color: #000;
	overflow: hidden;

}

.picture-small-1:hover {
	opacity: 0.5;
}

.picture-small-2:hover {
	opacity: 0.5;
}

.picture-small-3:hover {
	opacity: 0.5;
}

.picture-small-4:hover {
	opacity: 0.5;
}

.picture-small-5:hover {
	opacity: 0.5;
}

.picture-small-6:hover {
	opacity: 0.5;
}

.picture-small-7:hover {
	opacity: 0.5;
}

.picture-small-8:hover {
	opacity: 0.5;
}

.picture-small-9:hover {
	opacity: 0.5;
}

.picture-medium-1:hover {
	opacity: 0.5;
}

.picture-medium-2:hover {
	opacity: 0.5;
}

.grid-item--width1 {
	width: 373px;
}

.grid-item--height1 {
	height: 300px;
}

.invisible-masonry {
	display: none;
}

.hide-all {
	visibility: hidden;
}

.picture-in-picture-medium {
	position: relative;
}

.all-btn {
	position: absolute;
	bottom: 72px;
	left: 20px;
	display: flex;
	gap: 20px;
}

.add-more {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding-bottom: 67px;
}

.btn-flex {
	text-align: center;
}

.dynamic-loader-masonry {
	margin: 0 auto auto;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,159,255,1) 80%, rgba(0,212,255,1) 100%);
	border: 10px solid rgba(11, 135, 212, 0.34);

	animation: spinner 1s linear infinite;
	opacity: 0;
}

@keyframes spinner {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/************Footer************/
.footer {
	height: 121px;
	display: flex;
	justify-content: center;
	padding-top: 48px;

	font-weight: 300;
	font-size: 14px;
	line-height: 26px;

	color: #AEAEAE;
	background: #22353F;
}

.ham-color {
	color: #18CFAB;
}
